@import "tailwindcss";

@theme {
  --color-accent: var(--color-sky-500);
  --color-accent-dark: var(--color-sky-950);
}

/* .badge {
  padding: 2px 10px;
  border-radius: 100px;
  @apply bg-white/80 text-[10px] font-black uppercase tracking-wider text-accent-dark;
} */

.container {
  @apply min-h-screen bg-slate-50;
}
.section {
  @apply py-8 md:py-12;
}
.row {
  @apply max-w-[1080px] mx-auto px-6 lg:px-8;
}